doctype html
html
   head
        title Contacts
   body
        div(style = "display: flex") 
            h1 Contacts
            h1 
                a(href="/contact" style="text-decoration:none") &nbsp   +  &nbsp 
            h1 Groups
            h1 
                a(href="/group" style="text-decoration:none") &nbsp   +
                
        each val in allcontacts 
            div
                a(href=`/deletecontact/${val._id}`) Delete
                br
                a(href=`/updatecontact/${val._id}`) Update
                br
                a(href=`/viewdb/${val._id}`) View
                p Name - #{val.name} 
            hr
        
