html 
    head 
        title 
    body 
        each val in contact
                img(src=`/${val.propic}`  width='100px')
                br
                p Name - #{val.name} 
                p Phone - #{val.pno}
                p Email - #{val.email}






